<!DOCTYPE html>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="js/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>SlimIO Rapport</title>
    <div class="tab">
        <table id="thirdArr" class="blok">Third Dependency</table>
    </div>
    <div class="tab">
        <table id="slimDepsArr" class="blok">SlimIO Dependency</table>
    </div>

    <div class="page">
        <div class="blok">
            <div class="chart-container" >
                <canvas id="pie-chart-intLicense" width="800" height="450"></canvas>
            </div>
            <div class="chart-container" >
                <canvas id="pie-chart-extLicense" width="800" height="450"></canvas>
            </div>
        </div>
        <div class="blok">
            <div class="chart-container" >
                <canvas id="pie-chart-intLicensePkg" width="800" height="450"></canvas>
            </div>
            <div class="chart-container" >
                <canvas id="pie-chart-extLicensePkg" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
