.page {
    display: flex;
    flex-direction: column;
}

.blok {
    display: flex;
    flex-direction: row;
}

.chart-container {
    width: 50%;
}

.tab {
    display: flex;
    flex-direction: row;
}
